.logo img{
    width: 100px ;
    height: 100px ;
    padding-right:5px;
}
.grass span{
    font-weight: bold;
    font-family: lato-light,sans-serif;
    overflow-wrap:break-word ;
    text-align: start;
}
.lato-light span{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
h2{
    line-height: 0.9em;
    width: 130px;
}
.main{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 1364px;
    background-color: darkblue;
    margin-left: -7px;
    margin-top:-100px;
    position: fixed;
    padding-top: 5px;
    padding-left: 5px;
}

.petit{
    font-size: 18px;
    color: lightblue;
}

.bleu{
    color: white;
    font-size: 28px;
}

.important{
    display: flex;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    color: blue;
    transition: text-decoration 0.1s, text-decoration-color 0.1s, color 0.1s;
    background-color: white;
    border: solid blue 1px;
    min-width: 167px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.grand{
    width: 295px;
}

.important:hover{
    color: white;
    text-decoration-color: blue;
    text-decoration: underline;
    background-color: blue;
    text-decoration-line: none;
}

.rouge{
    color:red;
    font-size: 28px;
}

.body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
}

.body table{
    padding-left: 25.5%;
}

.body h1 {
    padding-left: 37.5%;
    padding-right: 36.5%;
    width: 27%;
}
body{
    background-color:  #000000;
    height: 2000px;
}

.vocaloid{
    height: 300px;
    opacity: 100%;
}

.example{
    flex:70%;
}

.posts {
    margin: 10px 100px 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:white;
    background-color: #101010;
}

.posts p{
    background-image:linear-gradient(#92cfc6,#fdfdfe,#282730);
    color: transparent;
    background-clip: text;
}

